body {
    background: linear-gradient(to right, #e81416, #ffa500, #faeb36, #79c314, #487de7, #4b369d, #70369d); 
    margin: 0;
}

.title2 {
    background: white;
    text-align: center;
    font-size: 30px;
}

.cards {
    margin: 50px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 20px;
}

.card {
height: 150px;
background-color: #382232;
border: 5px solid white;
cursor: pointer;
}