body {
    background: linear-gradient(to left, #000000, #787778); 
    margin: 0;
}

h2 {
    background: white;
    text-align: center;
    font-size: 30px;
}

.cards {
    margin: 50px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 20px;
}

.card {
height: 150px;
background-color: #382232;
border: 5px solid white;
cursor: pointer;
}

.container {
    height: 600px;
    position: relative;
    border: 3px solid pink;
}

.center {
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }