body {
    background: #5D3954; 
    margin: 0;
}

.title2 {
    background: white;
    text-align: center;
    font-size: 30px;
}

.cards {
    margin: 50px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 20px;
}

.card {
height: 150px;
background: #382232;
border: 5px solid #fff;
cursor: pointer;
}